.App {
  width: 100%;
  padding: 20px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  /* background-color: ; */
}

.container{
  border: 1px solid white;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  /* mar */
}

.tex-center{
  text-align: center;
}

html {
  background-color: black;
  height: 100%;
} 