.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 25px;
}

.App p {
  margin-top: 0;
  font-size: 24px;
}

.App form .field {
  display: flex;
  align-items: center;
}

.App form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 18px;
}

.App form button {
  padding: 12px 20px;
  margin-left: 10px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
